{% extends '::base.html.twig' %}

{% block body %}

    <div align="center" class="col-lg-offset-3 col-lg-6 col-lg-offset-3">
        <h2 id="question">Хочешь посмотреть курс валют ?!</h2>
        <button class="btn btn-danger" id="load_btn">ДА</button>

        <div class="table-responsive" style="display: none" id="course_table">

            <h1 id="fresh_greeting">Свежайший курс валют</h1>

            <table class="table table-bordered table-striped">
                <thead>
                <tr style="background: cornflowerblue">
                    <th>Полное название</th>
                    <th>Аббревиатура</th>
                    <th>Цены покупки</th>
                    <th>Цены продажи</th>
                    <th>Время Обновления</th>
                </tr>
                </thead>
                <tbody>
                {% for valut in courses %}
                    <tr style="background: #ffcc00;">
                        <td>{{ valut.title }}</td>
                        <td>{{ valut.titleAlias }}</td>
                        <td>{{ valut.buyRate }}</td>
                        <td>{{ valut.sellRate }}</td>
                        <td>{{ valut.startDate|date('Y-m-d H:i:s') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <button class="btn-danger" id="update_btn" style="display: none">Обновить таблицу</button>
        </div>
    </div>

{% endblock %}


